body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}




header{
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-logo{
    height: 50px;
    width: 50px;
}


.container-logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 30px;
}
.shadow{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.main-container{
    background-color: #ee1ad5;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.main-container h1{
    margin-top: 40px;
}


.main-container p{
    margin-top: 40px;
}

.main-container span{
       margin-top: 40px;
}

.search{
    margin-top: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 500px;
}

.search input {
    height: 30px;
    width: 500px;
    border-radius: 15px;
}

.search button{
    height: 30px;
    width: 100px;
    border-radius: 15px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}


.personajesdelcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.personaje{
    display: flex;
    flex-direction: row;
}

.dark-mode {
  background-color: #1e1e2f;
  color: #f2e6ff;
}

.dark-mode header {
  background: linear-gradient( #070708);
}

.dark-mode button {
  background-color: #060608;
   color: #ffffff;
}

.dark-mode .main-container {
  background-color: #000000;
 
}